{% extends "Homepage/Main.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'Homepage/AboutUs.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
{% endblock %}

{% block content %}
    <body>
        <div class="wrapper">
            <i id="left" class="fa-solid fa-arrow-left"></i>
            <ul class="carousel">
                <li class="card">
                    <div class="img sophie">
                        <img src="{% static 'Homepage/Images/Sophie.png' %}" alt="photo" draggable="false" />
                    </div>
                    <h2>Sophie Klok</h2>
                    <span>Bedrijfsleider</span>
                </li>
                <li class="card">
                    <div class="img">
                        <img src="{% static 'Homepage/Images/Julian.jpg' %}" alt = 'Twan' draggable="false" />
                    </div>
                    <h2>Julian Pith</h2>
                    <span>Ontwerper</span>
                </li>
                <li class="card">
                <div class="img">
                        <img src="{% static 'Homepage/Images/Isa.jpg' %}" alt = 'dora'  draggable="false" />
                    </div>
                    <h2>Isa Blanjaar</h2>
                    <span>Marketing & verkoop</span>
                </li>
                <li class="card">
                <div class="img">
                        <img src="{% static 'Homepage/Images/Alex.jpg' %}" alt = 'boots'  draggable="false" />
                    </div>
                    <h2>Alex Kersten</h2>
                    <span>Bouwspecialist</span>
                </li>
            </ul>
            <i id="right" class="fa-solid fa-arrow-right"></i>
        </div>
        <script src="{% static 'Homepage/AboutUs.js' %}"></script>
    </body>
{% endblock %}