<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Adventures</title>
    <link rel="icon" type="image/png" href="{% static 'Homepage/Images/Logo.png' %}">
    <link rel="stylesheet" href="{% static 'Homepage/main.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <a href="{% url  'homepage' %}" class="logolink homepagelink">
            <img src="{% static 'Homepage/Images/Logo.png' %}" alt="Little Adventures Logo" class="logo">
        </a>
        <a href="{% url 'booking' %}" class="btn bookinglink">Boek een huis</a>
        <a href="{% url  'aboutus' %}" class="btn aboutuslink">Wie zijn wij</a>
    </div>
    {% block content %}{% endblock %}
    <script src="{% static 'Homepage/main.js' %}"></script>
</body>
</html>