* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 35px;
    min-height: 100vh;
    background: white;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}
.wrapper i {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    border-radius: 50%;
    box-shadow: 0px 0px 15px black;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    transition: transform 0.1s linear;
}
#left {
    left: -22px;
    background-color: rgb(245, 243, 231);
    transition: transform 0.2s ease;
}
#right {
    right: -22px;
    background-color: rgb(245, 243, 231);
    transition: transform 0.2s ease;
}

#left:hover, #right:hover {
    transform-origin: center center;
    transform: scale(1.08) translateY(-50%);
}

#left:active, #right:active {
    transform: translateY(-50%) scale(0.95);
}


.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 9px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 15px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carousel .card, .carousel .img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    scroll-snap-align: start;
    height: 350px;
    list-style: none;
    background-color: rgb(245, 243, 231);
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 10px;
}
.img {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.img img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(70, 48, 48);

}
h2 {
    font-weight: 500;
    font-size: 18px;
    margin: 30px 0px 5px 0px;
}
span {
    color: rgb(150, 125, 146);
    font-size: 12px;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}


/*

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}


@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
*/