.navbar {
    background: linear-gradient(135deg, #064e3b 0%, #066c4f 100%);
    width: 100%;
    height: 10vh;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.navbar:hover {
    height: 20vh;
}

.btn {
    color: white;
    padding: 10px 25px;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    text-decoration: underline;
    transform: scale(1.08);
}

.btn:active {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.3);
}
