.navbar {
    background-color: darkgreen;
    width: 100%;
    height: 10vh;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: height 0.3s ease;
}

.btn {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.btn:hover {
    text-decoration: underline;
    scale: 1.05;
}

.btn:active {
    transform: scale(0.95);
}

.navbar:hover {
    height: 20vh;
}


